/*
Version: 1.0

<HEAD><LINK REL="stylesheet" TYPE="text/css" HREF="system.css"></HEAD>

######################################### NEW LAYOUT ########################################

*/

html{ box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}


body{
 margin:0
}

body#grey {
 background-color : #F3F3F3;
}

img {
 border-style:none
}

hr {
box-sizing:content-box; height:0; overflow:visible
}

iframe {
 border-style : none;
 height : 100%;
 width  : 100%;
 margin : 0px;
 padding: 0px;
}

div.z-header {
 background-color : #F3F3F3;
 border-bottom-style : solid;
 border-bottom-color : black;
 height :80px;
 width  :100%;
}

div.z-content {
 width  : 100%;
 position: absolute;
 top: 80px;
 bottom : 0px;
 overflow-y: auto;
}

div.z-menu {
 height : 100%;
 width : 380px;
 float : left;
 padding: 6px;
}

div.z-submenu {
 height : 100%;
 margin-left: 380px;
 padding: 6px;
}

.z-btn {border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none!important;text-align:center;cursor:pointer;white-space:nowrap}
.z-btn:hover {box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 18px 0 rgba(0,0,0,0.19)}
.z-btn {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.z-btn {-webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;transition:background-color .25s,color .15s,box-shadow .15s .15s,opacity .25s,filter .25s,border .15s}

/*
############################################ A(nything) ##############################################
*/

a{ color: black; background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{ outline-width:0; }

a.z-menu-btn,a.z-menu-btn:hover {
 border-color:	#9e9e9e!important;
 border-radius:	8px!important;
 border	: 1px solid #ccc!important;
 background-color:white!important;

 height : 52px;
 margin	: 0px;
 padding: 4px;

}

a.z-low-btn, a.z-low-btn:hover {
 border-color:	#9e9e9e!important;
 border-radius:	5px!important;
 border	: 1px solid #ccc!important;
 background-color:white!important;

 font-weight: bold;
 font-family: 'Courier New', serif;
 font-size:   20px;

 margin:   0px;
 padding:  0px;
 height:   24px;
 width :   24px;
 position: relative;
 bottom:   -13px;
}

a.z-high-btn, a.z-high-btn:hover {  
 border-color:	#9e9e9e!important;
 border-radius:	5px!important;
 border	: 1px solid #ccc!important;
 background-color:white!important;

 font-weight: bold;
 font-family: 'Courier New', serif;
 font-size:   20px;
    
 height :  24px;
 width :   24px;
 margin:   0px;
 padding:  0px;
 position: relative;
 bottom:   13px;
}

/*
############################################ Fonts ##############################################
*/

.z-font-normal {
 font-family: "Courier New", serif;
 font-size: 14px;
}

.z-font-sub {
 position: relative;         
 bottom:   -20px;
 font-family: "Courier New", serif;
 font-size: smaller;   
}
    
/*
##########################################################################################################

*/

table { 
 border-collapse: collapse;
}

th {
 border: 1px solid black;
 display: table-cell;
 vertical-align: middle;
 font-weight: bold;
 text-align: center
 font-family: 'Courier New', serif;
 font-size: 16px
}

tr#bigsolid {
 border: 1px solid black;
 font-family: 'Courier New', serif;
 font-size: 20px
}

tr#medsolid {
 border: 1px solid black;
 font-family: 'Courier New', serif;
 font-size: 16px
}

tr#med {
 font-family: 'Courier New', serif;
 font-size: 16px
}

td#top {
 vertical-align: top;
 text-align: left;
}

td#mid {
 align: center;
}

table#varannan tr:nth-child(even) {
 background-color: #FFFFFF;
 font-family: "Courier New", serif;
 font-size: 14px
}

table#varannan tr:nth-child(odd) {
 background-color: #F3F3F3;
 font-family: "Courier New", serif;
 font-size: 14px
}

